<html>

<head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" <%= link_to "Home", static_home_path %>  <span class="sr-only">(current)</span></a>
        
      </li>
      <li class="nav-item">
        <a class="nav-link" <a class="nav-link" <%= link_to "contact", static_contact_path %> 
      </li>
      
      <li class="nav-item">
      <a class="nav-link" <a class="nav-link" <%= link_to "team", static_team_path %> 
      </li>

      <li class="nav-item">
      <a class="nav-link" <a class="nav-link" <%= link_to "team", static_team_path %> 
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

</head>
<h1>Bienvenue à toi!</h1>

<p>Voici la liste des potins créés: </p>
<div class="container">
<div class="row">
    <% @gossips.each do |gossip| %>
        <div class="col-lg-3 col-md-6 col-xs-12 between_cards">
            <div class="box-part text-center cards-gossip">
                <div class="card text-white bg-dark">
                    <div class="card-body card-home">
                        <h5 class="card-title"><%= gossip.title %></h5>
                        <h6 class="card-subtitle mb-2 text-muted">Auteur : <%= link_to "#{gossip.user.first_name}", user_id_path(gossip.user.id) %> </h6>
                        <p class="card-text"><%= gossip.comments.length %> commentaires</p>
                        <div class='btn btn-primary'><%= link_to "Le potin", gossip_id_path(gossip.id) %></div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>	
</div>		
</div>

</html>